.extra-product__title {
  .zero;
  padding: 30px 0;

  font-size: 24px;
  line-height: 24px;

  border-bottom: 1px solid @border-color;
}

.extra-product__list {
  .zero;
  margin-bottom: 40px;

  list-style-type: none;
}

.extra-product__item {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px 0;

  border-bottom: 1px solid @border-color;
}

.extra-product__item h3 {
  .zero;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra-product__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra-product__info  span{
  font-size: 14px;
  line-height: 14px;
  color: @text-color;
  font-family: "Arial";
}

.extra-product__btn-order {
  font-size: 16px;
  line-height: 20px;
}

.extra-product__order-all-and-take-gift {
  width: 280px;
  height: 290px;

  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.extra-product__order-all-and-take-gift p {
  .zero;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arial";
}
